body {
    background-image: url('../../background/background-1113715_1280.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    overflow: auto;
}

.add-page {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.dropbtn {
    background-color: #6a82c5;
    color: white;
    padding: 16px;
    font-size: 25px;
    width: 250px;
    border: none;
    margin-top: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #6a82c5;
    cursor: pointer;
}

.dropdown:hover .dropbtn {
    background-color: #91aaee;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: flex;
    background-color: #b7c5e9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 25px;
}

.dropdown-content a:hover {
    background-color: #7489c4;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.form-container {
    position: fixed;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: ghostwhite;
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    z-index: 2;
    width: 400px;
    text-align: center;
}

.car-form label {
    display: block;
    margin-bottom: 15px;
    font-size: 22px;
}

.car-form input {
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    margin-bottom: 15px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 18px;
}

.car-form button {
    background-color: #6a82c5;
    color: white;
    padding: 15px 30px; 
    font-size: 22px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.car-form button:hover {
    background-color: #91aaee;
}

#message {
    margin-top: 20px;
    color: green;
    font-size: 18px;
    text-align: center;
}