body {
    background-image: url('../../background/background-1113715_1280.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    overflow: auto;
    
}

*{
    font-family: Arial, Helvetica, sans-serif;
}

#RegisterForm {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    overflow-y: auto;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    opacity: 85%;
}

input, button {
    font-size: 14px;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
}

button {
    cursor: pointer;
    background-color: grey;
    color: white;
    border: none;
}

button:hover {
    background-color: darkgrey;
}

button:disabled {
    background-color: lightgrey;
    cursor: not-allowed;
}

h3 {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 5px;
}

/* Zmniejszenie marginesu tylko gdy h3 jest nad inputem */
h3 + input {
    margin-top: 5px;
}