nav {
  background-color: #333; /* Ustaw kolor tła */
  padding: 10px 20px; /* Dodaj wypełnienie wewnątrz nawigacji */
  color: #fff; /* Ustaw kolor tekstu */
  display: flex; /* Ustaw kontener nawigacji jako flexbox */
  align-items: center; /* Wyśrodkuj elementy względem osi pionowej */
  justify-content: space-between; /* Ustaw odstępy między elementami */
  width: 100%;
  height: 30px;
}

nav a {
  color: #fff; 
  text-decoration: none;
  margin-right: 20px; 
  font-size: 16px;
}

nav a:hover {
  text-decoration: underline; 
}

ul {
  margin-bottom: 5px;
  list-style-type: none; 
  padding: 0; 
  display: flex; 
  align-items: center; 
}

ul li {
  margin-right: 10px;
  font-size: 50%;
}

ul li:last-child {
  margin-right: 0;
}

Link{
  size:0px;
}